<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <package android:name="com.topjohnwu.magisk" />
    <package android:name="io.github.huskydg.magisk" />
    <package android:name="eu.chainfire.supersu" />
    <package android:name="com.koushikdutta.superuser" />
    <package android:name="com.noshufou.android.su" />
    <package android:name="com.thirdparty.superuser" />
    <package android:name="com.yellowes.su" />
    <package android:name="com.kingroot.kinguser" />
    <package android:name="com.kingo.root" />
    <package android:name="com.zhiqupk.root.global" />
    <package android:name="com.smedialink.oneclickroot" />
    <package android:name="me.weishu.kernelsu" />
    <package android:name="me.bmax.apatch" />
    <package android:name="com.devadvance.rootcloak" />
    <package android:name="de.robv.android.xposed.installer" />
    <package android:name="org.lsposed.manager" />
  </queries>
</manifest>
